.gitignore
forelesning/
node_modules/
OOP6 - Statiske applikasjoner/package-lock.json
*/.DS_Store
OOP7 - Dynamiske applikasjoner med databasekommunikasjon/src/.DS_Store
.env
*/package-lock.json
.DS_Store
*/.expo/
*/.expo-shared/