html {
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    color: #000;
    background-color: #fff;
    margin: 0;
    padding: 0;

}

button {
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fff;
    border: 1px solid #000;
    padding: 8px 15px;
  
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 2px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}

input[type=number] {
    width: 100%;
    padding: 12px 20px;
    margin: 2px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}

/* submitt button */
input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}


form {
    padding: 16px 0px;
    max-width: 200px;
}

p {
    -webkit-transition: 0.5s;

    padding: 16px 16px;
    max-width: 400px;
    background-color: #f1f1f1;
    border: rgb(233, 233, 233) solid 1px;
    transform-origin: 50% 0;
	animation: append-animate .3s ease;
    
}

#kjorHendelse{
    font-weight: 800;
    background-color: #6eff75;
    border: rgb(50, 50, 50) solid 1px;
    transform-origin: 50% 0;
    animation: append-animate .2s ease;
    
}

@keyframes append-animate {

    from {
        transform: translateX(-100%);
        opacity: 0;
    }

    to {
        transform: translateX(0%);
        opacity: 1;
    }
}